/target/
/.classpath
/.project
/.settings/
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/org/.DS_Store
src/main/java/org/todaystech/.DS_Store
src/main/java/org/todaystech/rest/.DS_Store
.DS_Store
.DS_Store
